// .PayMethodEngineModal {
//     position: relative;
//     top: -600px;
//     z-index: 9;
//     height: calc(100vh - 940px);

//     .closeModal {
//         width: 30px;
//         height: 30px;
//         border-radius: 50%;
//         background: black;
//         color: white;
//         position: relative;
//         top: -445px;
//         // left: 253px;
//         right: 0px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         @media screen and (max-width:425px) {

//         }
//     }
//     .close-container
//     {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//     }
// }

// .PayMethodEngineModal-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100vh;

//     background: rgba(0, 0, 0, 0.5);
//     width: calc(100vw - 0px);
// }
.modal-pay-method-edit {
    background: white;
    border-radius: 15px;
    padding: 5px;
    
}
.iSmjVB > .PaymentMethodContent 
{
    .FormCard__form 
    {
        .FormCard__btn-submit
        {
            .jppfNK
            {

                background-color: #e5133a!important;
            }
        }
    }
}
.FormCard 
{
    .FormCard__form
    {
        .jppfNK
        {
            background: #e5133a!important;
        
        }
    }
}
@media screen and (max-width:400px) {
    .IframeTokenizer 
    {
        .PaymentMethodContent
        {
            padding:32px 0px ;
        }
    }
}
