.us {

    overflow: hidden;
    width: 100%;
    position: relative;

    .s1 {
        width: 100%;
        display: flex;
        padding: 5% 5% 0 5%;
        background-size: contain;
        justify-content: space-between;

        .s1-left {
            width: 50%;

            .move {
                width: 100%;
                height: 100%;
                margin-left: -50vw;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-wrap: wrap;
                transition: all 3s;
            }

            .pic {
                width: 55%;
                height: 35vh;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center !important;
                border-radius: 20px;
            }

            .pic:first-of-type {
                height: 50vh;
                width: 40%;
                transform: rotate(10deg);
                z-index: 10;
            }

            .pic:nth-of-type(2) {
                transform: rotate(-20deg);
                z-index: 5;
            }

            .pic:nth-of-type(3) {
                transform: rotate(5deg);
                margin-top: 5vh;
            }
        }

        .s1-right {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            .titleInfo {
                position: absolute;
                top: -100vh;
                right: -100vh;
                background: url('../../../img/us/circle.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 50%;
                background-position: left bottom;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                height: 100vh;
                padding-bottom: 20vh;
                transition: all 2s;

                p {
                    font-size: 1vw;
                    line-height: 20px;
                    margin: 0;
                    color: #fff;
                }

                .socialMedia {
                    display: flex;
                    justify-content: center;

                    button {
                        width: 60px;
                        height: 60px;
                        margin: 20px;
                        background: transparent;
                        border-radius: 10px;
                        padding: 0;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }

            .info {
                width: 90%;
                height: 40vh;
                z-index: 100;
                padding: 20px;
                border-radius: 20px 30px;
                background: #fff;
                margin-top: 100px;
                box-shadow: -15px 14px 20px rgba(0, 0, 0, 0.1);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                h3 {
                    font-size: 1.5vw;
                    color: #e5133a;
                    font-weight: 600;
                    margin: 0 0 20px 0;
                    width: 100%;
                }

                span {
                    width: 100%;
                    font-size: 0.5vw;
                    line-height: 0.6vw;
                    color: #323232;
                }

                button {
                    width: 60%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #e5133a;
                    border-radius: 20px;
                    font-size: 12px;
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                        background: #a30329;
                    }
                }

                button:last-of-type {
                    background: #fff;
                    color: #e5133a;
                    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.17);


                    &:hover {
                        background: #ededed;
                    }
                }

            }
        }

        @media screen and (max-width: 968px) {
            justify-content: center;
            align-items: center;

            .s1-left {
                position: absolute;
                left: 0;
                top: 0;

                .pic {
                    height: 12vh;
                }

                .pic:first-of-type {
                    height: 20vh;
                }
            }

            .s1-right {
                width: 100%;

                .titleInfo {
                    height: 50vh;
                    width: 70%;
                    padding-bottom: 15vh;
                    right: -10px;
                    top: -10vh;

                    p {
                        font-size: 3vw;
                        line-height: 3.1vw;
                    }

                }

                .info {
                    margin-top: 200px;

                    h3 {
                        font-size: 3.5vw;
                    }

                    span {
                        font-size: 2.5vw;
                        line-height: 2.6vw;
                    }

                    button {
                        font-size: 2vw;
                    }

                }

            }

        }

        @media screen and (max-width: 450px) {

            .s1-right {

                .titleInfo {
                    height: 35vh;
                    width: 60%;
                    padding-bottom: 4vh;
                    padding-left: 30px;
                    right: -10px;
                    top: -10vh;

                    p {
                        font-size: 2.6vw;
                        line-height: 2.7vw;
                    }

                    .socialMedia button {
                        margin: 10px;
                        height: 40px;
                        width: 40px;
                    }

                }

                .info {
                    height: 24vh;

                    span {
                        font-size: 2.3vw;
                        line-height: 2.4vw;
                    }

                    button {
                        font-size: 3vw;
                        margin-top: 10px;
                    }

                }

            }

        }
    }

    .s2 {
        background: url('../../../img/us/backPink2.svg');
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2% 35%;

        h3 {
            font-size: 2vw;
            line-height: 2vw;
            color: #fff;
        }

        .p-container {
            width: 100%;
            height: 40vh;
            box-shadow: -15px 14px 20px rgba(0, 0, 0, 0.1);
            padding: 20px 30px;
            background: #fff;
            border-radius: 30px;
            overflow: auto;

            p {
                font-size: 0.5vw;
            }

        }

        @media screen and (max-width: 968px) {
            padding: 3%;
            height: 60vh;

            h3 {
                font-size: 3vw;
                line-height: 3vw;
            }

            .p-container {
                p {
                    font-size: 1.5vw;
                }
            }
        }

        @media screen and (max-width: 968px) {
            height: 55vh;

            h3 {
                font-size: 4vw;
                line-height: 4vw;
            }

            .p-container {
                p {
                    font-size: 2vw;
                }
            }
        }

    }

    .s3 {
        width: 100%;
        height: 324px;
        overflow: hidden;

        @media screen and (max-width:968px) {
            height: 162px;
        }

        @keyframes animate {
            0% {
                left: 0;
            }

            25% {
                left: -50%;
            }

            50% {
                left: -100%;
            }

            75% {
                left: -150%;
            }

            100% {
                left: -200%;
            }
        }

        .leftEffect {
            overflow: hidden;
            display: flex;
            width: 300%;
            height: 100%;
            animation: animate 100s linear infinite;
            position: relative;
            z-index: 20;


            div {
                width: 25%;
                height: 100%;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center center !important;

            }
        }

        .coverPink {
            position: absolute;
            width: 100%;
            height: 324px;
            background: #694e4e;
            z-index: 100;
            opacity: 0.5;
            margin-top: -324px;

            @media screen and (max-width: '968px') {
                height: 162px;
                margin-top: -162px;
            }
        }
    }

    .s4 {
        padding: 40px 10% 20vh 10%;

        h5 {
            font-size: 2.3vw;
            line-height: 2.4vw;
            margin: 0;
            color: #323232;
            font-weight: 900;
        }

        h3 {
            font-size: 2.8vw;
            line-height: 2.9vw;
            margin: 0;
            color: #db0032;
            font-weight: 900;
        }

        .title {
            display: flex;
            width: 30%;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 80px;
        }
    }
}