.RecoverPassword {
    display: flex;
    justify-content: center;

    @media screen and (max-width:1024px) {
        padding: 0px 15px;
    }

    .card {
        width: 387px;
        background: white;
        border-radius: 42px;

        .title {
            color: #e5133a;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            padding-top: 42px;
            margin-bottom: 7px;
        }

        .subtitle {
            color: #747573;
            font-size: 14px;
            text-align: center;
            font-weight: 600;
        }

        .container-input {
            padding: 43px;

        }

        .buttons-container {
            padding: 0px 28px;
            padding-bottom: 52px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-direction: row;
            @media screen and (max-width:1024px) {
                flex-direction: column-reverse;
            }

            .button {
                min-width: 157px;
                width: 100%;
                margin-bottom:0px ;
                @media screen and (max-width:1024px) {
                    margin-bottom:16px ;
                }
            }
        }
    }
}