.Cravings {
    .topShopBerry {
        display: flex;

        .backgroundImg {
            position: relative;
            width: 1390px;
            margin-bottom: 0px;

            @media screen and (max-width:1600px) {
                left: -486px;
            }

            @media screen and (max-width:1300px) {
                width: 1173px;
            }

            @media screen and (max-width:1000px) {
                width: 287px;
                left: -94px;
                margin-bottom: 138px;
            }
            @media screen and (max-width:600px) {
                margin-bottom: 10px;
            }
         
        }

        .title-container {
            position: absolute;
            right: calc(50vh - 307px);

            @media screen and (max-width:1024px) {
                right: calc(50vh - 406px);
            }
            @media screen and (max-width:400px) {
                right: calc(50vh - 400px);
            }

            .title-red {
                color: #e5133a;
                font-size: 42px;
                font-weight: bold;
                text-shadow: 0px 3px 2px rgb(0 0 0 / 20%);
                max-width: 582px;

                @media screen and (max-width:1000px) {
                    font-size: 22px;
                    max-width: 312px;
                }

                @media screen and (max-width:600px) {
                    font-size: 12px;
                    max-width: 177px;
                }

            }

            .title-green {
                margin-top: 30px;
                color: #77ab39;
                font-size: 67px;
                font-weight: bold;
                text-shadow: 0px 5px 2px rgb(0 0 0 / 20%);
                max-width: 729px;
                line-height: 62px;

                @media screen and (max-width:1000px) {
                    margin-top: 16px;
                    color: #77ab39;
                    font-size: 43px;
                    font-weight: bold;
                    text-shadow: 0px 5px 2px rgb(0 0 0 / 20%);
                    max-width: 493px;
                    line-height: 40px;
                }

                @media screen and (max-width:600px) {
                    line-height: 23px;
                    font-size: 18px;
                    max-width: 258px;
                }


            }

            .sub-title-container {
                display: flex;
                align-items: center;
                flex-direction: column;

                .sub-title {
                    color: #694e4e;
                    margin-top: 30px;
                    font-size: 22px;
                    font-weight: 500;
                    text-shadow: 0px 5px 2px rgb(0 0 0 / 20%);
                    max-width: 380px;
                    text-align: center;
                    // line-height: 62px;


                    @media screen and (max-width:1000px) {
                        color: #694e4e;
                        margin-top: 13px;
                        font-size: 15px;
                        font-weight: 500;
                        text-shadow: 0px 5px 2px rgb(0 0 0 / 20%);
                        max-width: 267px;
                        text-align: center;
                    }

                    @media screen and (max-width:600px) {
                        line-height: 9px;
                        font-size: 8px;
                        max-width: 145px;
                    }

                }

                .outShops-container {
                    display: flex;
                    justify-content: space-between;
                    width: 190px;
                    margin-top: 40px;

                    @media screen and (max-width:1000px) {

                        width: 122px;
                        margin-top: 12px;
                    }
                    @media screen and (max-width:600px) {
                        width: 75px;
                    }

                    img {
                        width: 80px;

                        @media screen and (max-width:1000px) {
                            width: 52px;
                        }
                        @media screen and (max-width:600px) {
                            width: 32px;
                        }
                    }
                }
            }

        }
    }

    .cards-container {
        background-image: url("../../../../img/cravings/fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 40px;
       
    }
}