.input-text-password {
  .title_INPUT_PASSWORD {
    font-size: 11px;
    color: #b20f2d;
    text-align: left;
    padding-left: 22px;
    margin-bottom: 6px;
    font-weight: 600;
  }

  .input-wrapper {
    position: relative;

  }

  .input-pass {
    display: flex;
    align-items: center;

    height: 30px;
    width: 100%;


    box-sizing: border-box;
    color: #000000;
    width: 100%;
    font-size: 12px;
    border-radius: 20px !important;
    border: 1px solid #dddddd;

    opacity: 65%;
    text-decoration: none;
    outline: none;

    padding: 0px 15px;
    background-color: #ffffff;
    background-size: cover;
    transition: all 0.5s;


  }

  .input-pass:focus {
    border: 1px solid #b4c99b;
    transition: all 0.5s;
  }

  .input::placeholder {
    color: #727272;
    font-size: 12px
  }

  .input-icon {
    color: #191919;
    position: absolute;
    left: 12px;

    transform: translateY(-50%);
  }

  .input-icon-password {
    color: #D5D8E0;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 12px;
    cursor: pointer;
    font-size: 12px;
  }

  .input-icon-password:hover {
    color: black
  }

  .top-container {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 12px;
      color: white;
      margin-bottom: 8px;
      padding-left: 20px;
    }

    .obligatory {
      font-size: 12px;
      color: #a0a0a3;
    }
  }
}