body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.generalBackground-mr
{
    min-height: calc(100vh - 200px);
    padding-top:100px;
    
    @media screen and (max-width:1024px) {
      padding-top:170px;
      min-height: 100vh;
    }
}

.d-flex{
  display: flex;
}

.mt-20{
  margin-top: 20px;
}

.mt-10{
  margin-top: 10px;
}

.ml-20{
  margin-left: 20px;
}

.ml-10{
  margin-left: 10px;
}