body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.generalBackground-mr
{
    min-height: calc(100vh - 200px);
    padding-top:100px;
    @media screen and (max-width:1024px) {
      padding-top:170px;
      min-height: 100vh;
    }
}