.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
        font-family: Rubik;
        outline: none;
        width: 100%;
    }
}