.home{

    .chocolateDown{
        position: absolute;
        top: -150px;
        transition: all 8s;

        img{
            width: 100%;
        }
    }

    .s1{
        width: 100%;
        height: 725px;
        background: gray;
    }

    .s2{
        background: url('../../../img/home/backWhiteGreen.svg');
        width: 100%;
        height: 2229px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -483px;
    }

    .s3{
        width: 100%;
        height: 654px;
    }

    .s4{
        width: 100%;
        height: 4500px;
        background: url('../../../img/home/backConfeti.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .s5{
        width: 100%;
        height: 1320px;
        background: url('../../../img/home/backBrown.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -730px;
    }



}