.home {
    overflow: hidden;

    .chocolateDown {
        top: -150px;
        transition: all 8s;
        z-index: 10;
        position: fixed;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .s1 {
        width: 100%;
        height: 725px;
        background: gray;
        z-index: 0;
        overflow: hidden;

        @media screen and (max-width:1024px) {
            height: 500px;
        }

        .item {
            height: 725px;
            overflow: hidden;

            .text-10 {
                @media screen and (max-width:1024px) {
                    font-size: 10px !important;
                    line-height: 1 !important;
                }
            }

            .item-image {
                width: 100%;
                height: 100%;
                position: relative;

                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;

                }

                .container {
                    background: rgba(0, 0, 0, 0.5019607843);
                    width: 100%;
                    bottom: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    padding: 150px 250px;
                    flex-direction: row;
                    top: 0;

                    @media screen and (max-width:1024px) {
                        padding: 50px;
                        height: 66%;
                        justify-content: center;
                        flex-direction: column;
                    }

                    .whimButton {
                        width: 385px;
                        height: 85px;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        font-weight: 600;
                        color: #fff;
                        background: linear-gradient(90deg, #db0032, #74001b);
                        cursor: pointer;

                        &:hover {
                            background: #db0032;
                        }

                        @media screen and (max-width:1024px) {
                            width: 134px;
                            height: 28px;
                            font-size: 11px;
                        }
                    }

                    p {
                        font-family: Rubik;
                        width: 80%;
                        font-size: 23px;
                        line-height: 25px;
                        color: #ffffff;
                        text-decoration: none solid rgb(255, 255, 255);
                        text-align: center;
                        font-weight: 600;

                        @media screen and (max-width:1024px) {

                            width: 50%;
                        }
                    }
                }

                .food {

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        @media screen and (max-width:1024px) {
                            justify-content: flex-end;
                            width: 100%;
                            align-items: flex-end;

                        }

                    }


                    h3 {
                        width: 80%;
                        font-family: 'League Spartan', sans-serif;
                        font-size: 60px;
                        line-height: 60px;
                        color: #ffffff;
                        text-decoration: none solid rgb(255, 255, 255);
                        text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
                        font-weight: 900;

                        @media screen and (max-width:1024px) {
                            font-size: 24px;
                            line-height: 1;
                            width: 100%;
                        }

                    }


                    .imgsCont {
                        display: flex;
                        flex-direction: row;

                        img {
                            margin: 50px 15px 0 0;

                            @media screen and (max-width:1024px) {
                                margin: 0px 15px 0 0;
                                width: 38px;
                            }
                        }
                    }
                }

                .bowl {
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;

                    @media screen and (max-width:1024px) {
                        justify-content: center;
                    }


                    p {
                        width: 50%;
                        font-family: 'League Spartan', sans-serif;
                        font-size: 40px;
                        color: #ffffff;
                        text-decoration: none solid rgb(255, 255, 255);
                        text-align: center;
                        font-weight: 800;
                        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.27);
                        margin: 0 0 80px 0;

                        @media screen and (max-width:1024px) {
                            width: 100%;
                            font-size: 12px;
                            margin: 0 0 5px 0;
                        }

                        span {
                            color: #db0032;
                            text-decoration: none solid rgb(219, 0, 50);

                        }
                    }

                    h5 {
                        width: 30%;
                        font-family: 'League Spartan', sans-serif;
                        font-size: 50px;
                        line-height: 65px;
                        color: #ffffff;
                        font-weight: 900;
                        text-decoration: none solid rgb(255, 255, 255);
                        text-align: right;
                        text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
                        margin: 0;

                        @media screen and (max-width:1024px) {
                            width: 76%;
                            font-size: 16px;
                            line-height: 1;
                        }

                        span {
                            color: #e5133a;
                            text-decoration: none solid rgb(229, 19, 58);
                            font-size: 75px;
                            font-weight: 900;

                            @media screen and (max-width:1024px) {
                                font-size: 48px;
                            }

                        }
                    }
                }

                .events {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h3 {
                        font-family: 'League Spartan', sans-serif;
                        font-size: 60px;
                        color: #e5133a;
                        text-decoration: none solid rgb(229, 19, 58);
                        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
                        margin: 0;

                        @media screen and (max-width:1024px) {
                            font-size: 16px;
                            line-height: 1;
                            width: 80%;
                        }
                    }

                    p {
                        width: 40%;
                        text-align: start;
                        font-size: 40px;
                        line-height: 50px;

                        @media screen and (max-width:1024px) {
                            font-size: 16px;
                            line-height: 1.5;
                            width: 80%;
                        }
                    }
                }
            }
        }


        .slick-slider {
            height: 100%;
        }

        .slick-prev {
            left: 30px;

            @media screen and (max-width:1024px) {
                left: 9px;
            }
        }

        .slick-next {
            right: 30px;

            @media screen and (max-width:1024px) {
                right: 12px;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            z-index: 7;
            width: 100px;
            height: 100px;

            &:hover {}

            @media screen and (max-width:1024px) {
                width: 30px;
                height: 30px;
            }
        }

        .slick-prev::before,
        .slick-next::before {
            font-size: 70px;
            opacity: 1;

            @media screen and (max-width:1024px) {
                font-size: 37px;
            }

        }

        .slick-dots {
            position: absolute;
            z-index: 7;
            bottom: 30px;
        }

        .slick-dots li button:before {
            font-size: 20px;
        }

        .slick-dots li.slick-active button:before {
            color: #db0032;
        }
    }

    .s2 {
        background: url('../../../img/home/backWhiteGreen.svg');
        width: 100%;
        height: 1780px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -153px;
        padding: 100px;
        position: relative;
        z-index: 3;

        @media screen and (max-width:1024px) {
            padding: 0px;
        }

        .s2-s1 {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            padding: 50px 100px;
            flex-direction: row;

            @media screen and (max-width:1024px) {
                flex-direction: column;
                padding: 0px 0px;
            }

            div {
                width: 50%;

                @media screen and (max-width:1024px) {
                    width: 80%;
                }
            }

            h1 {

                font-family: 'League Spartan', sans-serif;
                font-size: 70px;
                width: 100%;
                line-height: 70px;
                color: #3b2b1e;
                font-weight: 900;
                text-decoration: none solid rgb(59, 43, 30);
                text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
                margin: 0 0 30px 0;

                span {
                    color: #77ab39;
                    text-decoration: none solid rgb(119, 171, 57);
                }

                @media screen and (max-width:1024px) {
                    font-size: 24px;
                    line-height: 1.5;
                    margin-top: 142px;
                    margin-left: 30px;

                }
            }

            .containerResponsive {
                display: flex;
                align-items: center;
            }

            .popular {
                display: flex;

                h5 {
                    font-family: 'League Spartan', sans-serif;
                    font-size: 30px;
                    font-size: 900;
                    color: #e5133a;
                    margin: 5px 0 0 0;
                    text-decoration: none solid rgb(229, 19, 58);
                    margin: 15px 0 0 0;

                    @media screen and (max-width:1024px) {

                        font-size: 14px;
                        margin: 0px 0 0 0;

                    }
                }

                img {
                    width: 15px;
                    height: 15px;
                }

                @media screen and (max-width:1024px) {
                    margin-left: 30px;

                }
            }

            .whatsapp {

                font-family: "League Spartan", sans-serif;
                font-size: 24px;
                color: #323232;
                -webkit-text-decoration: none solid rgb(50, 50, 50);
                text-decoration: none solid rgb(50, 50, 50);
                transform: rotate(-3deg);
                width: 33%;
                font-weight: 600;
                display: flex;
                gap: 25px;
                padding-right: 127px;
                max-width: 581px;

                @media screen and (max-width:1024px) {
                    font-size: 12px;
                    width: 92%;
                    margin-left: 30px;
                    padding-right: 0px;
                    min-height: auto;


                }

                span {
                    font-size: 28px;
                    color: #77ab39;
                    text-decoration: none solid rgb(119, 171, 57);

                    @media screen and (max-width:1024px) {
                        font-size: 12px;

                    }
                }

                .whatsappImg {
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    left: 400px;

                    @media screen and (max-width:1024px) {
                        width: 40px;
                        height: 40px;
                        left: 172px;


                    }
                }

                .arrowGreen {
                    position: absolute;
                    margin-top: 94px;
                    margin-left: 194px;
                    transform: rotate(-12deg);
                    width: 200px;

                    @media screen and (max-width:1024px) {
                        width: 105px;
                        left: -114px;
                        bottom: -32px;
                    }

                }
            }


        }

        .s2-s2 {

            display: flex;
            padding:70px 25px;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @media screen and (max-width:1024px) {
                padding: 0px 0px;
            }

            .parent {
                width: 100%;

                .sideInLeft {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    right: -150%;
                    transition: all 1s;
                    top: auto;
                    column-gap: 15px;
                    flex-wrap: wrap;
                    padding: 30px;
                }

                .sideInRight {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    left: -150%;
                    position: relative;
                    transition: all 1s;
                    margin-top: 50px;
                    column-gap: 15px;
                    flex-wrap: wrap;
                    padding: 30px;
                }
            }

        }

    }

    .s3 {
        width: 100%;
        height: 654px;
        margin-top: -40px;
        overflow: hidden;

        @keyframes animate {
            0% {
                left: 0;
            }

            25% {
                left: -50%;
            }

            50% {
                left: -100%;
            }

            75% {
                left: -150%;
            }

            100% {
                left: -200%;
            }
        }

        @keyframes animateRight {
            0% {
                left: -200%;
            }

            25% {
                left: -150%;
            }

            50% {
                left: -100%;
            }

            75% {
                left: -50%;
            }

            100% {
                left: 0;
            }
        }

        .leftEffect {
            overflow: hidden;
            display: flex;
            width: 300%;
            height: 50%;
            animation: animate 100s linear infinite;
            position: relative;
            z-index: 20;

            div {
                width: 25%;
                height: 100%;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center center !important;

            }
        }

        .rightEffect {
            animation: animateRight 100s linear infinite;
        }

        .coverPink {
            position: absolute;
            width: 100%;
            height: 654px;
            background-color: rgb(219, 0, 50, 0.2);
            z-index: 100;
            margin-top: -654px;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 270px;
                height: 80px;
                border-radius: 80px;
                background: #ffffff;
                font-family: "League Spartan", sans-serif;
                font-size: 25px;
                color: #77ab39;
                text-decoration: none solid rgb(119, 171, 57);
                text-align: center;
                box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.2), inset -5px 5px 20px rgba(0, 0, 0, 0.05);
                cursor: pointer;

                &:hover {
                    background: linear-gradient(90deg, #74001b, #db0032);
                    color: #fff;
                }
            }
        }

        .camera {
            position: absolute;
            right: 0;
            margin-top: -367px;
            z-index: 101;
            overflow: hidden;

            img {
                width: 694px;
                height: 589px;
                margin-right: -70px;
            }
        }
    }

    .s4 {
        width: 100%;
        height: 3821px;
        background: url('../../../img/home/backConfeti.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: flex-start;
        padding: 200px 120px 700px 120px;

        .imgContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .christmas {
                width: 350px;
                height: 350px;
                transform: scaleX(-1)
            }

            .ballon:first-of-type {
                margin-top: 80px;
                width: 500px;
            }

            .ballon:last-of-type {
                margin-bottom: 100px;
                width: 500px;
                margin-left: -152px;
            }

            .deathDay {
                width: 350px;
                height: 350px;
                transform: scaleX(-1)
            }

        }

        .text {
            position: absolute;
            width: calc(100% - 240px);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .text1 {
                width: 50%;
            }


            p {
                font-family: "League Spartan", sans-serif;
                font-size: 38px;
                color: #323232;
                font-weight: 900;
                text-decoration: none solid rgb(50, 50, 50);
            }

            h3 {
                font-family: "League Spartan", sans-serif;
                font-size: 75px;
                font-weight: 900;
                line-height: 75px;
                margin: 0;
                color: #77ab39;
            }

            h5 {
                font-family: "League Spartan", sans-serif;
                font-size: 100px;
                margin: 0;
                line-height: 100px;
                color: #e5133a;
                text-decoration: none solid rgb(229, 19, 58);
            }

            .containerCards {
                display: flex;
                justify-content: center;
                gap: 50px;
                width: 100%;
                padding: 100px;
                overflow: hidden;

                .left {
                    position: relative;
                    transition: all 1s;
                    left: -50%;
                }

                .right {
                    position: relative;
                    transition: all 1s;
                    right: -50%;
                }

                .center {
                    position: relative;
                    transition: all 1s;
                    margin-top: 50%;
                }

                div {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 90px;
                    justify-content: center;
                    align-items: center;

                }

                .imgContainer {
                    width: 100%;
                    background: #fff;
                    border-radius: 40px;
                    height: 670px;
                    padding: 20px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .text {
                        width: 92%;
                        position: absolute;
                        height: 0;
                        transition: all .5s;
                        overflow: hidden;
                        background: url('../../../img/home/imgTextBack.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        padding: 0;
                        border-radius: 0 0 40px 40px;
                        opacity: 0.8;
                        align-items: flex-start;
                        gap: 0;
                        justify-content: flex-end;


                        h3 {
                            font-family: "League Spartan", sans-serif;
                            font-size: 24px;
                            font-weight: 800;
                            color: #ffffff;
                            text-decoration: none solid rgb(255, 255, 255);
                        }

                        p {
                            font-family: "League Spartan", sans-serif;
                            font-size: 16px;
                            line-height: 16px;
                            margin: 0;
                            color: #ffffff;
                            font-weight: 400;
                            text-decoration: none solid rgb(255, 255, 255);
                        }
                    }

                    &:hover .text {
                        height: 10%;
                        padding: 24px 35px;
                    }
                }
            }



        }
    }

    .s5 {
        width: 100%;
        height: 1250px;
        background: url('../../../img/home/backBrown.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: -730px;
        padding-top: 150px;

        .container {
            width: 100%;
            position: absolute;
            left: -100%;
            padding: 60px 150px;
            display: flex;
            overflow: hidden;
            transition: all 0.5s;

            .text {
                width: 50%;

                h3 {
                    font-family: "League Spartan", sans-serif;
                    font-size: 70px;
                    color: #ffffff;
                    text-decoration: none solid rgb(255, 255, 255);
                    line-height: 80px;

                    span {
                        color: #db0032;
                        text-decoration: none solid rgb(219, 0, 50);
                    }
                }

                .inputEmail {
                    width: 430px;
                    height: 65px;
                    display: flex;
                    border: 1px solid #db0032;
                    border-radius: 27px;

                    .inputContainer {
                        width: 70%;

                        input {
                            background: transparent;
                            color: #fff;
                            border: none;

                            &::placeholder {
                                color: #fff;
                            }
                        }
                    }

                    button {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(90deg, #e5133a 0%, #a30329 100%);
                        color: #fff;
                        cursor: pointer;
                        border-radius: 0 27px 27px 0;
                        font-weight: 600;
                        font-family: "League Spartan", sans-serif;

                        &:hover {
                            background: linear-gradient(90deg, #77ab39 0%, #6ecb63 100%);
                            border: 1px solid #6ecb63;
                        }
                    }
                }


            }

            .img {
                width: 50%;
                display: flex;
                align-self: flex-end;
            }
        }

    }



}