.fs-LoginP{

    .fs-Login{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .body-register {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;

            width: 415px;
            height: 508px;
            border-radius: 50px;

            background: white;

            .title-container {
                display: flex;
                flex-direction: column;
                gap: 12px;

                justify-content: center;
                padding-bottom: 35px;

                .title {
                    display: flex;
                    
                    font-size: 25px;
                    font-weight: bold;
                    color: #e5133a;
                    line-height: 30px;
                    text-align: center;

                }

                .sub-title {
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 480;
                    color: #747573;
                    text-align: center;
                }

                
            }

            .txb-container {
                justify-content: center;
                display: flex;

                font-size: 12px;

                .txb-title {
                    padding-left: 19px;
                    padding-bottom: 8px;
                    width: 261px;
                    height: 20px;
                    font-size: 12px;
                    color: #e5133a;
                    font-weight: 445;
                }

                }
                .txb-subtitle {
                    padding-left: 19px;
                    padding-bottom: 8px;
                    width: 261px;
                    height: 20px;
                    font-size: 12px;
                    color: #e5133a;
                    line-height: 1px;

                }

                .txb {
                    padding-top: 8px;
                    padding-bottom: 22px;
                    .input-text {
                        width: 307px;
                        height: 33px;
                        padding: 0px 15px;
                        border: 1px solid #dddddd;
                        border-radius: 20px;
                        background-color: #ffffff;
                        background-size: cover;
                        font-family: Metropolis;
                        font-size: 12px;
                        color: #000000;
                        opacity: 65%;
                        
                        &:focus-within {
                            border: 2px solid #b4c99b;
                        }
                    }
                  
                    .input-text-password {
                        .input-wrapper {
                            .input:focus {
                                border-width: 1px;
                                border-color: #bccda7;
                            }
                        }

                    }
                    
                }
                
                .remember-box{
                    width: 70%;
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    align-items: center;

                    /* custom radio */
                    .radio {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    /* hide the browser's default radio button */
                    .radio input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    /* create custom radio */
                    .radio .check {
                        position: absolute;
                        top: 12px;
                        left: 15px;
                        height: 15px;
                        width: 15px;
                        background-color: #eee;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                    }

                    /* on mouse-over, add border color */
                    .radio:hover input ~ .check {
                        border: 2px solid #b00e0e;
                    }

                    /* add background color when the radio is checked */
                    .radio input:checked ~ .check {
                        background: linear-gradient(120deg, rgba(201, 28, 28, 0.63) 0%, #e31212 3%, #b00e0e 100% );
                        border:none;
                    }

                    /* create the radio and hide when not checked */
                    .radio .check:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    /* show the radio when checked */
                    .radio input:checked ~ .check:after {
                        display: block;
                    }

                    .txt-remember{
                        width: 75px;
                        height: 12px;
                        font-size: 12px;
                        color: #e5133a;
                        text-decoration: none solid rgb(229, 19, 58);
                    }

                    .link {
                        width: 128px;
                        height: 12px;
                        font-size: 12px;
                        color: #e5133a;
                        text-decoration: none solid rgb(229, 19, 58);
                        text-align: right;
                    }
                }
                

                .button-container {
                    display: flex;
                    justify-content: center;
                    padding-top: 24px;
                    
                    .btnRed{
                        width: 303px;
                        height: 40px;
                        border-radius: 51px;
                        background-color: #e5133a;
                        background-size: cover;
                        font-size: 13px;
                        font-weight: bold;
                        color: #ffffff;
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .bottom-text {

                    display: flex;
                    justify-content: space-between;
                    color: #747573;
                    font-size: 16px;
                    padding-top: 34px;

                    .bottom-text:focus {
                        border-width: 1px;
                        border-color: #bccda7;
                    }

                }
            }


        }

}

.fs-background{
    background: url('../../../img/login/background_fresa.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    // height: calc(100vh - 100px);

    
}
