.CarCard-checkout {
    width: 100%;
    padding: 14px 28px;
    border-radius: 10px;
    background: white;
    position: relative;
    transition: all 1s;
    box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.25);
    @media screen and (max-width:1024px) {
        padding: 14px 18px;
    }
    .coverCarCard {
        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0;
        z-index: 0;
    }


    .front {}

    .z-index {
        z-index: 2;

    }
    .z-index2 {
        z-index: 2;
        width:initial;
        @media screen and (max-width:1024px) {
            
            width: 100%;
        }
    }

    .content {
        display: flex;
        align-items: center;

        
        .x-button-container
        {
            position: relative;
            .x-button {
                cursor: pointer;
                position: absolute;
                width: 22px;
                height: 22px;
                background: #db0032;
                border-radius: 100px;
                color: white;
                font-size: 17px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -8px;
                left: -21px;
            }
            .img-product {
                position: relative;
                width: 100px;
                height: 98px;
                border-radius: 12px;
                object-fit: cover;
                position: relative;
                @media screen and (max-width:1024px) {
                    width: 92px;
                    height: 78px;
                }
    
                
            }
        }
        
        .cuatity
        {
            width: 38px;
            height: 25px;
            border-radius: 12px;
            color: white;
            font-size: 14px;
            background: #694e4e;
            text-align: center;
            position: initial;
            @media screen and (max-width:1024px) {
                position: absolute;
                bottom: 0px;
                right: -8px;
            }
        }

        .description {
            margin-left: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-direction: row;

            @media screen and (max-width:1024px) {
                flex-direction: column;
            }
            
            .title {
                font-size: 18px;
                font-weight: 500;

                @media screen and (max-width:1024px) {
                    font-size: 18px;
                    text-align: right;
                }
            }

            .text {
                font-size: 10px;
                font-weight: 400;
                max-width: 370px;
                text-align: justify;
                line-height: 20px;

                @media screen and (max-width:1024px) {
                    font-size: 10px;
                    text-align: right;
                    max-width: auto;
                    width: 100%;
                    line-height: 1;
                }
            }

            .price-container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                @media screen and (max-width:1024px) {
                    width: 100%;
                }
                .title {
                    font-size: 14px;
                    font-weight: 400;
                    height: 28px;
                    text-align: right;
                }

                .price {
                    font-size: 22px;
                    font-weight: 500;
                    color: #323232;
                    text-align: right;
                    margin-bottom: 0px;

                    @media screen and (max-width:1024px) {
                        margin-bottom: 13px;
                    }

                }

                .img-trash {
                    width: 38px;
                    z-index: 1;
                    cursor: pointer;
                }
            }
        }
    }

    .conter-class {
        width: 140px;

        @media screen and (max-width:1024px) {
            width: 92px;
        }
    }
}

.coverCarCard:hover {
    background: #c9bdc1;
    opacity: 17%;
    transition: all 1s;
}