.event {
    width: 100%;
    overflow: hidden;

    .sections {
        background: url(../../../img/events/back-s1.png);
        background-position: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 85vh;
    }

    .s1 {
        padding: 100px 0 0 0;
        z-index: 1001;
        height: auto;

        .s1-left {

            height: 75%;
            width: 50%;

            .s1-left-images {
                display: flex;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 90%;
                height: 100%;

                .ballons {
                    height: 60vh;

                    &:last-of-type {
                        margin-bottom: 40px;
                        margin-left: -20px;
                    }

                }
            }

            .strawberry-container {
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: absolute;

                .strawberry {
                    height: 50vh;
                }
            }

            p, .hidden {
                display: none;
            }

        }

        .s1-right {
            width: 50%;
            padding: 50px 0 50px 80px;
            height: 82%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h5 {
                font-size: 3vw;
                color: #77ab39;
                font-weight: 900;
                line-height: 3.1vw;
                margin: 0;
            }

            h3 {
                font-size: 4.3vw;
                color: #e5133a;
                margin: 0;
                line-height: 4.4vw;
            }

            p {
                color: #3b2b1e;
                font-size: 0.8vw;
                line-height: 0.9vw;
                font-weight: 600;
                margin: 0;

                &:first-of-type {
                    font-size: 1.1vw;
                    line-height: 1.2vw;
                    width: 70%;
                    font-weight: 500;
                    margin: 30px 0;
                }

                &:nth-of-type(2) {
                    margin-top: 50px;
                }

            }

            .button{
                width: 45%;
                height: 50px;
                margin: 8px 30px;
            }

            button {
                width: 45%;
                height: 50px;
                background: #e5133a;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-weight: 600;
                font-size: 1.2vw;
                border: 1px solid #e5133a;
                padding: 20px;
                margin: 8px 30px;
                cursor: pointer;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.17);

                &:hover {
                    background: #a30329;
                }

                &:last-of-type {
                    background: #ffff;
                    color: #e5133a;

                    &:hover {
                        background: #ededed;
                    }
                }
            }

        }

        @media screen and (max-width: '968px') {

            .s1-left {
                padding: 0 20px;

                .s1-left-images .ballons {
                    height: 30vh;
                }

                .s1-left-images {
                    width: 100%;
                }

                .strawberry-container .strawberry {
                    height: 30vh;
                }

                .hidden{
                    display: block;
                }

                p {
                    display: block;
                    color: #3b2b1e;
                    font-size: 1.5vw;
                    line-height: 1.6vw;
                    font-weight: 500;
                    margin: 0;

                    &:first-of-type {
                        margin-top: 10px;
                    }

                }


            }

            .s1-right {
                padding: 0 20px;

                h5 {
                    font-size: 5vw;
                    line-height: 5.1vw;
                }

                h3 {
                    font-size: 6vw;
                    line-height: 6.1vw;
                }

                p {
                    display: none;

                    &:first-of-type {
                        font-size: 2.1vw;
                        line-height: 2.2vw;
                        width: 100%;
                        margin: 10px 0;
                        display: block;
                    }

                }

                button, .button {
                    width: 95%;
                    height: 30px;
                    margin: 18px 0 18px 10px;
                    font-size: 2vw;

                }

            }
        }

        @media screen and (max-width: '450px') {
            height: 40vh;

            .s1-left {
                padding: 0 10px;

                .s1-left-images .ballons {
                    height: 20vh;
                }

                .strawberry-container .strawberry {
                    height: 20vh;
                }

                p {
                    display: block;
                    color: #3b2b1e;
                    font-size: 1.5vw;
                    line-height: 1.6vw;
                    font-weight: 500;
                    margin: 0;
                }


            }

            .s1-right {
                padding: 0 0 20px 0;

                h5 {
                    font-size: 5vw;
                    line-height: 5.1vw;
                }

                h3 {
                    font-size: 6vw;
                    line-height: 6.1vw;
                }

                p {
                    display: none;

                    &:first-of-type {
                        font-size: 2.1vw;
                        line-height: 2.2vw;
                        width: 100%;
                        margin: 10px 0;
                        display: block;
                    }

                }

                button {
                    height: 25px;
                    font-size: 3vw;
                    height: 20px;
                    margin: 5px 0 5px 0;
                }

            }
        }
    }

    .s2 {
        height: 70vh;

        .s2-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .name {
                width: 50%;

                h3 {
                    color: #e5133a;
                    font-size: 3vw;
                    line-height: 2vw;
                    font-weight: 700;
                    margin: 0;

                    span {
                        color: #77ab39;
                    }
                }

                p {
                    font-size: 1vw;
                    color: #77ab39;
                }

                ul {
                    margin: 0;
                    padding: 0 20px;
                }

                li {
                    color: #694e4e;
                    font-size: 1vw;
                }
            }

            .imgContainer {
                width: 50%;
                height: 70vh;
                display: flex;
                align-items: flex-end;
                position: absolute;

                img {
                    height: 60vh;
                }
            }

        }

        .s2-right {
            width: 50%;
            display: flex;
            justify-content: center;

            .container {
                width: 60%;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.09);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 50px 20px 50px;

                h3 {
                    color: #db0032;
                    font-size: 1.1vw;
                    margin: 0;
                }

                p {
                    color: #77ab39;
                    font-size: 1vw;
                    line-height: 1vw;
                    margin: 0;
                    font-weight: 500;
                    width: 70%;
                    text-align: center;
                    margin: 15px 0;
                }

                p:nth-of-type(2) {
                    color: #e5133a;
                }

                p:last-of-type {
                    color: #3b2b1e;
                    text-align: left;
                    width: 100%;
                    margin-top: 30px;
                }

                .containerPrices {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-evenly;

                    img {
                        height: 10vh;
                    }

                    p {
                        color: #77ab39;
                        font-size: 1vw;
                        line-height: 1vw;
                        margin: 0;
                        font-weight: 500;
                        width: 100%;
                        text-align: left;
                    }

                    p:last-of-type {
                        color: #e5133a;
                    }

                }
            }
        }

        @media screen and (max-width: '969px') {
            flex-direction: column;
            justify-content: center;
            height: auto;

            .s2-left {
                width: 100%;
                flex-direction: row;
                align-items: flex-start;

                .name {

                    h3 {
                        font-size: 4vw;
                        line-height: 4vw;
                    }

                    p {
                        font-size: 2vw;
                    }

                    li {
                        font-size: 2vw;
                    }
                }

                .imgContainer {
                    width: 50%;
                    height: auto;
                    justify-content: flex-end;
                    position: relative;

                    img {
                        height: 20vh;
                    }
                }

            }

            .s2-right {
                width: 100%;


                .container {
                    width: 50%;
                    margin-top: 30px;

                    h3 {
                        font-size: 2.5vw;
                    }

                    p {
                        font-size: 1.5vw;
                        line-height: 1.5vw;
                    }

                    .containerPrices {
                        padding: 15px 10px;

                        img {
                            height: 90px;
                        }

                        p {
                            font-size: 1.5vw;
                            line-height: 1.6vw;
                        }

                    }
                }
            }
        }

        @media screen and (max-width: '450px') {

            .s2-left {

                .name {

                    h3 {
                        font-size: 6vw;
                        line-height: 6vw;
                    }

                    p {
                        font-size: 3.6vw;
                    }

                    li {
                        font-size: 3.6vw;
                    }
                }

                .imgContainer {
                    margin-right: -40px;
                }

            }

            .s2-right {
                width: 100%;


                .container {
                    width: 90%;
                    margin-top: 30px;

                    h3 {
                        font-size: 5vw;
                    }

                    p {
                        font-size: 4vw;
                        line-height: 4vw;
                        width: 100%;
                    }

                    p:last-of-type {
                        font-size: 3.5vw;
                    }

                    .containerPrices {

                        img {
                            height: 80px;
                        }

                        p {
                            font-size: 4vw;
                            line-height: 4.1vw;
                        }

                    }
                }
            }
        }
    }

    .s3 {
        height: 100vh;
        align-items: center;

        .s3-left {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                color: #77ab39;
                font-size: 1.3vw;
                margin: 0;
                font-weight: 600;
                line-height: 1.4vw;
            }

            span {
                color: #694e4e;
                font-size: 0.8vw;
                line-height: 0.8vw;
            }

            .imgContainerAll {
                display: grid;
                width: 100%;
                padding: 0 20px;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            div:nth-of-type(1) {
                grid-area: 1 / 2 / 2 / 4;
            }

            div:nth-of-type(2) {
                grid-area: 1 / 4 / 2 / 6;
            }

            div:nth-of-type(3) {
                grid-area: 1 / 6 / 2 / 8;
            }

            div:nth-of-type(4) {
                grid-area: 2 / 1 / 3 / 3;
            }

            div:nth-of-type(5) {
                grid-area: 2 / 3 / 3 / 5;
            }

            div:nth-of-type(6) {
                grid-area: 2 / 5 / 3 / 7;
            }

            div:nth-of-type(7) {
                grid-area: 2 / 7 / 3 / 9;
            }


            .imgContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;

                img {
                    width: 100%;
                    height: 70%;
                    border-radius: 100%;
                }

                p {
                    font-size: 0.8vw;
                    line-height: 0.9vw;
                    margin-top: 5px;
                    color: #db0032;
                    text-align: center;
                    width: 60%;
                }
            }



        }

        .s3-right {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                color: #e5133a;
                font-size: 1.3vw;
                font-weight: 600;
                line-height: 1.5vw;
                margin: 0;
            }

            h3 {
                color: #e5133a;
                font-size: 3.3vw;
                font-weight: 600;
                line-height: 3.6vw;
                margin: 0 0 40px 0;


                span {
                    color: #77ab39;
                    font-weight: 500;
                }
            }

            p {
                font-size: 11px;
                color: #e5133a;
                margin: 0;
            }

            .backPink {
                background: #db0032;
            }

            .dateButton {
                width: 50%;
                height: 30px;
                font-weight: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: #77ab39;
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    background: #5c9418;
                }
            }

            .submit {
                width: 100%;
                height: 40px;
                border-radius: 20px;
                background: #e5133a;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: #a30329;
                }
            }
        }

        @media screen and (max-width: '968px') {
            height: auto;
            flex-direction: column;
            padding: 40px 0;

            .s3-left {
                width: 100%;

                p {
                    font-size: 4vw;
                    line-height: 4.1vw;
                }

                span {
                    font-size: 3vw;
                    line-height: 3vw;
                    margin-top: 10px;
                }

                .imgContainerAll {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: baseline;

                    div {
                        width: 30%;

                        img {
                            width: 100px;
                            height: 100px;
                        }

                        p {
                            font-size: 2vw;
                            line-height: 2.1vw;
                        }
                    }
                }
            }

            .s3-right {
                width: 100%;

                h5 {
                    font-size: 2.8vw;
                    line-height: 2.9vw;
                }

                h3 {
                    font-size: 6.3vw;
                    line-height: 6.6vw;

                }
            }
        }
        @media screen and (max-width: '450px') {
            height: auto;
            flex-direction: column;
            padding: 40px 0;

            .s3-left {
                width: 100%;

                p {
                    font-size: 6vw;
                    line-height: 6.1vw;
                }

                span {
                    font-size: 4vw;
                    line-height: 4vw;
                }

                .imgContainerAll {


                    div {
                        padding: 15px;


                        p {
                            font-size: 3vw;
                            line-height: 3.1vw;
                            width: 80%;
                        }
                    }
                }
            }

            .s3-right {
                width: 100%;
                padding: 0 20px;

                h5 {
                    font-size: 3.8vw;
                    line-height: 3.9vw;
                }

                h3 {
                    font-size: 7.3vw;
                    line-height: 7.6vw;

                }
            }
        }

    }

    .s4 {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3b2b1e;
        padding: 5%;

        .p-carousel {
            width: 100%;
            height: 100%;

            @media screen and (max-width: '450px') {
                height: auto;
            }

            .pi {
                font-size: 3rem;

                  @media screen and (max-width: '450px') {
                    font-size: 1rem;
                }
            }

            .p-carousel-container {
                height: 100%;
            }

            .p-carousel-items-container {
                height: 100%;
            }

            .p-carousel-prev,
            .p-carousel-next {
                width: 90px;
                height: 90px;
                background: #ffffff;
                box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.05), inset -5px 5px 20px rgba(0, 0, 0, 0.05);

                &:hover {
                    background: #e5133a;

                    .pi {
                        color: #fff;
                    }
                }

                @media screen and (max-width: '450px') {
                    width: 50px;
                    height: 50px;
                }
            }

            .product-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 80%;
                    height: 90%;
                    border-radius: 30px;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }

        .p-carousel-indicators {
            display: none;
        }

    }

    .w-30 {
        width: 30%;

        @media screen and (max-width: '450px') {
            width: 50%;
        }
    }

    .w-40 {
        width: 40%;

        @media screen and (max-width: '450px') {
            width: 100%;
        }
    }

}